{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>bootstrap4</title>
	{% if filePathName %}
	<link rel="stylesheet" href="{% static 'customization.css' %}">
	{% else %}
	<link rel="stylesheet" href="{% static 'customization2.css' %}">
	{%endif%}
</head>

<body>
	<div class="container" styles="position:-webkit-sticky;
	position:sticky;
	top:0;">	

		<div  class="wrapper">
			<div class="left-side">
				<div class="link-wrapper">
					<a href="home.html">Home</a>
				</div>

				<div class="link-wrapper">
					<a href="compare.html">Compare</a>
				</div>

				<div class="link-wrapper">
					<a href="filter.html">Filter</a>
				</div>
				
				<div class="link-wrapper">
					<a href="contact.html">Contact Us</a>
				</div> 
  				

			</div>
			<div style = "padding-right: 240px;">
				<img src="static/cr_iris1.png">
			</div>

			<div class="right-side">
				<div class="brand-wrapper">
					<div>DAIICT</div>
				</div>
			</div>
		</div>
	</div>
        <!--<div class="message">
		<div class="welcome">
			<h1 text-allign="center">Welcome!</h1>
		
		
			<p>Click on the upload button below to indentify the car</p>
		        <input class="upload-input" type="file" onchange="readURL			(this);" accept="image/*">

	
		</div>

        </div>-->
		<div class="parallax"></div>

<div style="height:400px;background-color:rgb(29, 28, 28);font-size:36px">
	<div class="welcome">
		<h1 text-allign="center">Welcome!</h1>
	
	
		<p>Click on the upload button below to indentify the car</p>
			<form method = "POST" enctype = "multipart/form-data" action="predictImage">
				{% csrf_token %}
				<input name="filePath" type="file">
				<input type="submit" value="Submit">
				
			
			</form>
		</div>

	</div>
	
</div>
<div class="grid-con">
	<div class="grid-it">{% if filePathName %}
		<img src="{{filePathName}}" alt="">
	{% if predicted > 0.5 %}
	<br>
	  Predicted car model: {{car_model}}
	{% else %}
	<br>
	  Car model couldnot be identified. Please re-upload a better image.
	{% endif %}
</div>{% if predicted > 0.5 %}
	<div class="grid-it">
		{% for det in details %}
		<br>
		Price: {{det.price}}
		<br>
		Type: {{det.type}}
		<br>
		Company: {{det.company}}
		<br>
		Engine: {{det.engine}}
		<br>
		Gear: {{det.gear}}
		<br>
		Seater: {{det.seater}}
		<br>
		Fuel: {{det.fuel}}
		<br>
		Country:{{det.country}}

		{%endfor%}
		


	</div>
	
  </div>

  <div class="parallax"></div>

  <div style="height:100px;background-color:rgb(29, 28, 28);font-size:36px; text-align: center;">
	<div style="color:#ffff; padding-top:20px">Recommendations</div>
  
	  <div class="grid-container">
		  <div class="grid-item"><img src="{{car1.path}}" alt=""></div>
		  <div class="grid-item">Recommendation 1 : 
			  <br>
			  Name: {{car1.name}}
			  <br>
			  Price: {{car1.price}}
			  <br>
			  Type: {{car1.type}}
			  <br>
			  Company: {{car1.company}}
			  <br>
			  Engine: {{car1.engine}}
			  <br>
			  Gear: {{car1.gear}}
			  <br>
			  Seater: {{car1.seater}}
			  <br>
			  Fuel: {{car1.fuel}}
			  <br>
			  Country: {{car1.country}}
		  </div>
		  <div class="grid-item"><img src="{{car2.path}}" alt=""></div>
		  <div class="grid-item">Recommendation 2:
			<br>
			Name: {{car2.name}}
			<br>
			Price: {{car2.price}}
			<br>
			Type: {{car2.type}}
			<br>
			Company: {{car2.company}}
			<br>
			Engine: {{car2.engine}}
			<br>
			Gear: {{car2.gear}}
			<br>
			Seater: {{car2.seater}}
			<br>
			Fuel: {{car2.fuel}}
			<br>
			Country: {{car2.country}}
		  </div>
		  <div class="grid-item"><img src="{{car3.path}}" alt=""></div>
		  <div class="grid-item">Recommendation 3:
			<br>
			Name: {{car3.name}}
			<br>
			Price: {{car3.price}}
			<br>
			Type: {{car3.type}}
			<br>
			Company: {{car3.company}}
			<br>
			Engine: {{car3.engine}}
			<br>
			Gear: {{car3.gear}}
			<br>
			Seater: {{car3.seater}}
			<br>
			Fuel: {{car3.fuel}}
			<br>
			Country: {{car3.country}}
		  </div>
			{%endif%}
		  {% endif %}</div>
  </div>
  </body>
  </html>