<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"/>
	<title>Contact us </title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="Members">Team Members</div>
	<ul>
	<li>Bhuva Khyati</li>
	<li>Verma Palak</li>
	<li>Chauhan Siddharth</li>
	<li>Khimani Mohil</li>
	<li>Murtaza Shabbir</li>
	<li>Patel Nisarg</li>
	<li>Vala Ajay</li>
	<li>Dhola Swapnil</li>
	<li>Patel Vishalkumar</li>
	<li>Malani Deep</li>
	</ul>

	<div>Contact Details</div>
	<div>Email:<br>
	     Address:</div>
</body>
</html>